doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  nav.navbar.navbar-inverse.navbar-static-top
    button.btn Hello
  .container
    .row
      .col-xs-12
        div(ui-view)
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/lodash/lodash.min.js')
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/index.js')
        div
          button(ui-sref="allPokemon") All Pokemon
          button.btn.btn-success(href="/auth/google") Sign In with Google
